// Seção de estilos do aside na página inical e contatos
.aside {
  height: 507px;
  width: 261.22px;

  background-color: #E2DEDC;
  padding: 16px 48px;

  ul li {
    margin-bottom: 16px;
    font-weight: 600;
    opacity: 1;
    font-size: 18px;

    &:first-child {
      margin-top: 16px;
    }
  }

  ul li a {
    color: #000;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Seção de estilos do aside na página camisetas e calçados que são iguais
.aside-camisetas-filter {
  height: 507px;
  width: 261.22px;

  background-color: #E2DEDC;

  padding: 16px 48px;

  div.close-button{
    display: flex;
    align-items: center;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      cursor: pointer;

      &:hover {
        filter: brightness(0.9);
        border: 1px solid gray;
      }

      &:active {
        color: #1E2B50;
      }
    }

    h3 {
      margin-right: 64px;
    }
  }

  h2 {
    color: #ED1A39;
    font-weight: 800;

    margin-bottom: 36px;
  }

  h3 {
    color: #1E2B50
  }

  div.colors {
    display: flex;

    margin-top: 16px;

    button {
      width: 4px;
      margin-left: 8px;
      cursor: pointer;
      border: none;

      &:hover {
        border: 2px solid rgb(36, 36, 36);
      }

      &:first-child {
        margin-left: 0;
      }
    }

    button.black {
      width: 48px;
      height: 24px;

      background-color: #000;
      border-radius: 2px;
    }

    button.gray{
      width: 48px;
      height: 24px;

      background-color: gray;
      border-radius: 2px;
    }

    button.blue  {
      width: 48px;
      height: 24px;

      background-color: #27A3A9;
      border-radius: 2px;
    }

    button.orange  {
      width: 48px;
      height: 24px;

      background-color: #F26324;
      border-radius: 2px;
    }

    button.yellow {
      width: 48px;
      height: 24px;

      background-color: yellow;
      border-radius: 2px;
    }

    button.pink {
      width: 48px;
      height: 24px;

      background-color: pink;
      border-radius: 2px;
    }
  }



  div:last-child {

    h3 {
      margin: 32px 0 16px;
    }

    a {
      text-decoration: none;
      color: #626262;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul {
    padding-left: 16px;
  }
}

// seção de estilos do aside na página de calças
.aside-calcas-filter {

  height: 507px;
  width: 261.22px;

  background-color: #E2DEDC;
  padding: 16px 48px;

  div.close-button-calcas {
    display: flex;
    align-items: center;
  
    h3 {
      margin-right: 64px;
    }
    button {
      margin-top: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      cursor: pointer;

      &:hover {
        filter: brightness(0.9);
        border: 1px solid gray;
      }

      &:active {
        color: #1E2B50;
      }
    }
  }

  h2 {
    color: #CB0D1F;
    font-weight: 800;
  }

  h3 {
    margin-top: 32px;
    color: #1E2B50;
    margin-bottom: 8px;
  }

  div.male {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  div.female {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-around;

    label {
      margin-right: 6px;
    }

  }

  div:last-child {

    h3 {
      margin: 32px 0 16px;
    }

    a {
      text-decoration: none;
      color: #626262;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul {
    padding-left: 16px;
  }
}