.camisetas {
  width: 960px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
  }

  span {
    font-weight: 500;
  }

  .currency {
    font-weight: 800;
    color: #1E2B50;
  }

  button {
    background-color: #00A8A9;
    color: #fff;

    padding: 8px;
    width: 200px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 8px;
    border: none;
    font-weight: 800;

    &:hover {
      filter: brightness(0.9);
    }
  }
}