.main {

  display: flex;
  flex-direction: column;

  width: 960px;

  h1 {
    margin-top: 8px;
    font-size: 26px;
  }

  section {

    text-align: justify;
    
    &:first-child {
      background-color: #ACACAC;
      width: 954px;
      height: 281px;
    }
  }
}