* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.containerMenu {
  max-width: 1240px;
  margin-left: 70px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.flex {
  display: flex;
}